@layer utils {
  .userContainer {
    position: relative;
    margin-left: 6px;
  }

  .iconBtnContainer {
    position: relative;
    border-radius: 100px;
    width: 100%;
    height: 100%;
  }

  .profileInfoContainer {
    display: flex;
    padding: 0 0 16px;
  }

  .profileIconContainer {
    border-radius: 100px;
    width: 56px;
    height: 56px;
  }

  .profileUsername {
    margin-left: 12px;
  }

  .profileButtons {
    justify-content: flex-start;
    padding: 0 8px;
  }

  .dropdownProfile {

  }

  @media (max-width: 600px) {
    .userContainer {
      display: none;
    }

    .dropdownProfile {
      display: none;
    }
  }
}