@layer components {
  .inputWrapper {
    display: inline-block;
    position: relative;
    min-width: 64px;
  }

  .input {
    padding: 12px 14px;
    font: var(--text-regular-medium);
    border-radius: var(--border-radius-medium);
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid var(--line-color);
    text-overflow: ellipsis;
    transition: 0.4s all;
    width: 100%;
  }

  .inputWithAdornmentEnd {
    padding: 12px 40px 12px 14px;
  }

  .fullWidth {
    width: 100%;
  }

  .input:hover {
    border-color: var(--main-color);
  }

  .input:focus {
    border-color: var(--main-color);
    outline: none;
  }

  .adornmentWrap {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
}