:root {
  --header-height: 50px;
  --footer-height: 50px;
  --max-content-width: 1200px;
  --root-font-family: "Roboto", sans-serif;
  --text-primary: #1A1A1A;
  --text-secondary: #737373;
  --text-error: #C62928;
  --text-warning: #FFCF48;
  --default-font-size: 14px;
  --default-line-height: 20px;
  --lower-font-size: 12px;
  --lower-line-height: 16px;
  --upper-font-size: 20px;
  --upper-line-height: 28px;

  --variant-primary-bgColor: #ECEFF1;
  --variant-secondary-bgColor: #FFFFFF;
  --variant-text-bgColor: transparent;
  --variant-textHover-bgColor: #4CAF5014;
  --variant-textActive-bgColor: #4CAF5026;
  --variant-text-color: #4CAF50;
  --variant-textDisabled-color: #B0B0B0;
  --variant-contained-bgColor: #4CAF50;
  --variant-containedHover-bgColor: #43A047;
  --variant-containedActive-bgColor: #388E3C;
  --variant-containedDisabled-bgColor: #C8E6C9;
  --variant-contained-color: #FFFFFF;
  --variant-containedDisabled-color: #FFFFFF99;
  --variant-outlined-bgColor: transparent;
  --variant-outlinedHover-bgColor: #4CAF5014;
  --variant-outlinedActive-bgColor: #4CAF5026;
  --variant-outlined-bColor: #4CAF50;
  --variant-outlinedActive-bColor: #43A047;
  --variant-outlinedDisabled-bColor: #B0B0B0;
  --variant-outlined-color: #4CAF50;
  --variant-outlinedDisabled-color: #B0B0B0;
  --commonDefault-bColor: #EBEBEB;
  --commonDefault-bsColor: #4CAF5040;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--variant-primary-bgColor);
  min-width: 320px;
}
