:root {
  --header-height: 50px;
  --footer-height: 50px;
  --max-content-width: 1200px;
  --body-root-background-color: #eceff1;
  --body-layout-background-color: #ffffff;
  --root-font-family: "Roboto Mono", monospace;
  --text-primary: #1a1a1a;
  --text-secondary: #737373;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--body-root-background-color);
  min-width: 320px;
}
