@layer components {
  .loadingOverlayRoot {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fullParent {
    flex: 1 0 auto;
  }

  .fullPage {
    min-height: 100dvh;
    width: 100%;
  }
}