@layer components {
  .rootButton {
    position: relative;
    height: 40px;
    outline: none;
    cursor: pointer;
    transition: 0.18s all ease-in-out;
    border-radius: var(--border-radius-large);
    font: var(--text-semibold-medium);
    padding: 0 12px;
    user-select: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rootButton:disabled {
    cursor: not-allowed;
    color: var(--grey-color-75);
  }

  .buttonWithAdornment {
    padding: 8px;
  }

  .fullWidth {
    width: 100%;
  }

  .containedButton {
    border: 0;
    background-color: var(--main-color);
    color: var(--text-color);
    border: none;
    transition: 0.2s ease all;
  }

  .containedButton:hover {
    background-color: var(--main-variant-color);
  }

  .containedButton:active {
    background-color: var(--main-variant-color);
  }

  .containedButton:disabled {
    background-color: var(--grey-color-10);
  }

  .textButton {
    border: 0;
    background-color: transparent;
    color: var(--main-color);
  }

  .textButton:hover,
  .textButton:active {
    background-color: color-mix(in srgb, currentColor 8%, transparent);
  }

  .textButton:disabled {
    background-color: transparent;
  }

  .outlinedButton {
    border: 1px solid var(--line-color);
    background-color: transparent;
    color: var(--main-color);
  }

  .outlinedButton:hover {
    background-color: color-mix(in srgb, var(--main-color) 8%, transparent);
    border-color: var(--main-color);
  }

  .outlinedButton:active {
    background-color: color-mix(in srgb, var(--main-color) 8%, transparent);
    border-color: var(--main-color);
  }

  .outlinedButton:disabled {
    border-color: var(--line-color);
    background-color: transparent;
  }

  .plainButton {
    height: auto;
    padding: 0;
    background-color: transparent;
    color: var(--main-color);
  }

  .plainButton:hover,
  .plainButton:active {
    color: var(--main-variant-color);
  }

  .plainButton:disabled {
    color: var(--grey-color-75);
  }

  .adornmentContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    transition: inherit;
  }

  .adornmentContainer svg {
    height: 1em;
    width: 1em;
    fill: currentColor;
  }

  .startAdornment {
    margin-right: 12px;
  }

  .endAdornment {
    margin-left: 12px;
  }

  .loadingWrap {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    color: var(--grey-color-75);
  }
}

@layer overrides {
  .loading {
    color: transparent;
  }

  .spinner {
    height: 60%;
  }
}