@layer base {
  .defaultText {
    font-weight: var(--default-font-weight);
    font-size: var(--default-font-size);
    line-height: var(--default-line-height);
    text-align: left;
    font-family: var(--root-font-family), sans-serif;
  }

  .lowerText {
    font-weight: var(--default-font-weight);
    font-size: var(--lower-font-size);
    line-height: var(--lower-line-height);
    text-align: left;
    font-family: var(--root-font-family), sans-serif;
  }

  .upperText {
    font-weight: 500;
    font-size: var(--upper-font-size);
    line-height: var(--upper-line-height);
    text-align: left;
    font-family: var(--root-font-family), sans-serif;
    letter-spacing: 0.025em;
  }

  .hidden {
    opacity: 0;
  }

  .show {
    opacity: 1;
  }

  .truncateText {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .breakText {
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }
}