.rootButton {
  height: 40px;
  font-size: var(--default-font-size);
  line-height: 20px;
  outline: none;
  cursor: pointer;
  transition: 0.18s all ease-in-out;
  border-radius: 3px;
  padding: 0 12px;
  user-select: none;
}

.rootButton:disabled {
  cursor: not-allowed;
}

.fullWidth {
  width: 100%;
}

.containedButton {
  border: 0;
  background-color: var(--variant-contained-bgColor);
  color: var(--variant-contained-color);
  border: none;
  transition: 0.2s ease all;
}

.containedButton:hover {
  background-color: var(--variant-containedHover-bgColor);
}

.containedButton:active {
  background-color: var(--variant-containedActive-bgColor);
}

.containedButton:disabled {
  background-color: var(--variant-containedDisabled-bgColor);
  color: var(--variant-containedDisabled-color);
}

.textButton {
  border: 0;
  background-color: transparent;
  color: var(--variant-text-color);
  transition: 0.18s ease all;
}

.textButton:hover {
  background-color: var(--variant-textHover-bgColor);
}

.textButton:active {
  background-color: var(--variant-textActive-bgColor);
}

.textButton:disabled {
  color: var(--varaint-textDisabled-color);
}

.outlinedButton {
  border: 1px solid var(--variant-outlined-bColor);
  background-color: var(--variant-outlined-bgColor);
  color: var(--variant-outlined-color);
  transition: 0.2s ease all;
}

.outlinedButton:hover {
  background-color: var(--variant-outlinedHover-bgColor);
}

.outlinedButton:active {
  background-color: var(--variant-outlinedActive-bgColor);
  border-color: var(--variant-outlinedActive-bColor);
}

.outlinedButton:disabled {
  border-color: var(--variant-outlinedDisabled-bColor);
  color: var(--variant-outlinedDisabled-color);
}