@layer components {
  .linkToRoot {
    text-decoration: none;
    cursor: pointer;
    outline: none;
    color: var(--main-color);
    font: var(--text-regular-medium);
  }

  .linkToRoot svg {
    width: 100%;
    height: 100%;
  }
}