@layer components {
  .dropdownContainer {
    max-height: calc(100dvh - 80px);
    overflow-y: auto;
    min-width: 300px;
    z-index: 1000;
    margin-top: 4px;
    position: absolute;
    border-radius: 12px;
    background-color: var(--variant-secondary-bgColor);
    padding: 16px;
    box-shadow: var(--common-bs);

    --dropdown-duration: 250ms;
  }

  .slideIn {
    animation: slideIn var(--dropdown-duration) ease-out forwards;
  }

  .slideOut {
    animation: slideOut var(--dropdown-duration) ease-in forwards;
  }

  @keyframes slideIn {
    from { transform: translateY(1%); opacity: 0; }
    to   { transform: translateY(0);  opacity: 1; }
  }

  @keyframes slideOut {
    from { transform: translateY(0);  opacity: 1; }
    to   { transform: translateY(1%); opacity: 0; }
  }
}