@layer utils {
  .dividerWrap {
    margin: 10px 12px;
  }
}

.menu {
  display: none;
}

.menuContainer {
  padding: 16px 0;
  overflow-y: auto;
}

.btnsBlockContainer {
  padding: 0 16px;
}

@media (max-width: 600px) {
  .menu {
    display: flex;
  }
}